*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background:#2f3946;
    color:white;
}

/* ================= NAVBAR ================= */

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 80px;
}

.logo{
    font-size:24px;
    font-weight:bold;
    letter-spacing:2px;
}

.nav-links{
    list-style:none;
    display:flex;
    gap:30px;
}

.nav-links li a{
    text-decoration:none;
    color:white;
    font-size:16px;
    transition:0.3s;
}

.nav-links li a:hover{
    color:#00f2ff;
}

/* Section */
.about-section{
    padding:80px 100px;
}

.section-title{
    text-align:center;
    font-size:32px;
    margin-bottom:60px;
}

.section-title span{
    color:#00e5ff;
}

/* Layout */
.about-container{
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
    gap:60px;
}

/* ================= Profile Card ================= */

.profile-card{
    background:#00cfd1;
    width:320px;
    padding:100px 20px 40px 20px;
    text-align:center;
    border-radius:10px;
    position:relative;
}

.profile-image{
    position:absolute;
    top:-80px;
    left:50%;
    transform:translateX(-50%);
    width:160px;
    height:160px;
    border-radius:50%;
    overflow:hidden;
    border:6px solid #2f3946;
}

.profile-image img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.profile-card h3{
    margin-top:10px;
    font-size:22px;
    font-weight:bold;
}

.profile-card p{
    margin-top:8px;
    font-size:16px;
}

/* ================= Right Content ================= */

.about-content{
    flex:1;
}

.tabs{
    display:flex;
    gap:40px;
    margin-bottom:40px;
    font-weight:bold;
}

.tabs span{
    cursor:pointer;
    color:#cfcfcf;
}

.tabs .active{
    color:#00e5ff;
    border-bottom:2px solid #00e5ff;
    padding-bottom:5px;
}

/* Education Boxes */

.edu-box{
    margin-bottom:35px;
}

.edu-box h4{
    color:#00e5ff;
    margin-bottom:10px;
    font-size:18px;
}

.edu-box p{
    margin-bottom:5px;
    color:#dcdcdc;
}

/* ================= Responsive ================= */

@media(max-width:900px){

    .about-container{
        flex-direction:column;
        align-items:center;
    }

    .about-section{
        padding:60px 30px;
    }

    .tabs{
        flex-wrap:wrap;
        gap:20px;
    }
}
