*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background:#2f3946;
}

/* ================= NAVBAR ================= */

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 80px;
}

.logo{
    font-size:24px;
    font-weight:bold;
    letter-spacing:2px;
}

.nav-links{
    list-style:none;
    display:flex;
    gap:30px;
}

.nav-links li a{
    text-decoration:none;
    color:white;
    font-size:16px;
    transition:0.3s;
}

.nav-links li a:hover{
    color:#00f2ff;
}

/* Section */
.contact-section{
    background:#2f3946;
    margin:20px;
    padding:80px 100px;
    border-radius:15px;
    color:white;
}

.section-title{
    text-align:center;
    font-size:32px;
    margin-bottom:60px;
}

.section-title span{
    color:#00e5ff;
}

/* Layout */
.contact-container{
    display:flex;
    justify-content:space-between;
    gap:80px;
}

/* Left Side */
.contact-left{
    flex:1;
}

.contact-left .logo{
    font-size:24px;
    font-weight:bold;
    margin-bottom:20px;
}

.contact-left p{
    color:#cfcfcf;
    line-height:1.6;
    margin-bottom:40px;
    max-width:400px;
}

.contact-icons i{
    color: #ffffff;
    font-size:20px;
    margin-right:30px;
    cursor:pointer;
    transition:0.3s;
}

.contact-icons i:hover{
    color:#00e5ff;
}
a:visited {
    color: #ffffff;   /* Same color after visited */
}

/* Right Side */
.contact-right{
    flex:1;
}

form{
    display:flex;
    flex-direction:column;
    gap:20px;
}

.form-row{
    display:flex;
    gap:20px;
}

input, textarea{
    width:100%;
    padding:15px;
    border:none;
    border-radius:10px;
    background:#1f2937;
    color:white;
    font-size:14px;
}

input:focus, textarea:focus{
    outline:none;
    border:1px solid #00e5ff;
}

button{
    padding:15px;
    border:none;
    border-radius:10px;
    background:#1f2937;
    color:white;
    font-size:16px;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:#00e5ff;
    color:black;
}