body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f6f9;
}

nav {
    background-color: #111;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-weight: bold;
}

nav a:hover {
    color: #00adb5;
}
header h1{
    padding-left: 30px;;
}

section {
    background-color: white;
    margin: 30px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

h2 {
    border-bottom: 3px solid #00adb5;
    padding-bottom: 10px;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #111;
    color: white;
}