body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f6f9;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    background-color: #00adb5;
    color: white;
}


.logo .brand {
    font-size: 22px;
    font-weight: bold;
    color: white;
}


.search-box {
    flex: 1;
    text-align: center;
}

.search-box input {
    width: 60%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
}


.nav-right a {
    color: white;
    text-decoration: none;
    margin-left: 25px;
    font-weight: bold;
}
nav a {
    color: white;
    text-decoration: none;
    margin: 20px;
    font-weight: bold;
}

nav a:hover {
    color: #456b6d;
}



/* Authentication Pages */
.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #f1f3f6;
}

.auth-box {
    background: white;
    padding: 40px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.auth-box h2 {
    text-align: center;
    margin-bottom: 20px;
}

.auth-box label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

.auth-box input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.auth-box button {
    width: 100%;
    padding: 10px;
    background-color: #2874f0;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.auth-box button:hover {
    background-color: #0b5ed7;
}

.auth-text {
    text-align: center;
    margin-top: 15px;
}

.register-btn {
    background-color: green;
    margin-top: 10px;
}
